/* Color pallets
  https://coolors.co/palette/f4f1de-e07a5f-3d405b-81b29a-f2cc8f
  https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557
  https://coolors.co/palette/ffede1-f9fbf2-d7f9ff-afcbff-0e1c36
*/

:root {
	/*   https://coolors.co/palette/f4f1de-e07a5f-3d405b-81b29a-f2cc8f */
	/* --main-bg-color: hsl(234, 20%, 30%);
	--main-link-color: hsl(13, 68%, 63% );
	--section-bg-color: hsl(52, 50%, 91%); 
	--link-hover-color: black; */

	/* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
	--main-bg-color: hsl(215, 50%, 23%);
	--main-link-color: hsl(203, 39%, 44%);
	--section-bg-color: hsl(105, 55%, 96%);
	--link-hover-color: black;
}

body {
	background-color: var(--main-bg-color);
	color: black;
	font-family: Inter;
}

a {
	color: var(--main-bg-color);
}

a:hover {
	color: var(--link-hover-color);
}

main {
	display: flex;
	flex-direction: row;
	gap: 20px;
	place-content: center;
	overflow: hidden;
}

section {
	background-color: var(--section-bg-color);
	padding: 20px;
	height: 75vh;
	scrollbar-width: thin;
}

/* SCROLLING BANNER */
#banner-container {
	height: auto;
	background-color: ghostwhite;
	margin-bottom: 2px;
}

#scrolling-banner {
	-webkit-animation: banner 10s linear infinite;
	animation: banner 10s linear infinite;
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	/*  overflow: hidden;*/
	/*  position: absolute;*/
	width: 70vw;
	transition: 0.35s ease-in-out;
	transform: translateX(120%) translateZ(0) scale(1, 1);
	white-space: nowrap;
}

@-webkit-keyframes banner {
	100% {
		transform: translateX(-70%);
	}
}

@keyframes banner {
	100% {
		transform: translateX(-70%);
	}
}
/* SCROLLING BANNER END */

#fave-links-container {
	gap: 2px;
	height: 85vh;
	width: 15vw;
	border-radius: 10px;
	font-size: 1.5em;
	box-shadow: 5px 5px 10px black;
}

#fave-links {
	display: flex;
	flex-direction: column;
	/* overflow-y: scroll; */
	overflow-x: scroll;
	height: 100%;
}

#blogs-feed-container {
	width: 90vw;
	height: 100%;
	border-radius: 10px;
	font-size: 1.5em;
	box-shadow: 5px 5px 10px black;
}

#blogs-feed {
	height: 85vh;
	overflow-y: scroll;
	padding-right: 2px;
	/* overflow-x: scroll; */
}

#blog-title {
	margin: 0 0 0.8rem 0;
}

.blog-card {
	display: flex;
	flex-direction: column;
	gap: 2px;
	border-bottom: 2px solid black;
	margin-bottom: 30px;
}

footer, footer a {
	color: var(--section-bg-color);
	margin: 5px;
}

footer a:hover {
	color: var(--section-bg-color);
}

@media screen and (min-width: 375px) and (max-width: 975px) {
	main {
		display: flex;
		flex-direction: column;
	}

	section {
		margin: 0 auto 0 auto;
	}

	#fave-links-container {
		gap: 8px;
		width: 65%;
		height: 45vh;
	}

	#blogs-feed {
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 977px) and (max-width: 1200px) {
	#fave-links-container {
		gap: 8px;
		width: 35%;
	}
}
